*{
  box-sizing: border-box;
}

#nav{
  background-color: #ffaa1c;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  
}

#my-avatar{
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.menu li{
  width: 150px;
  text-align: center;

  display: inline-block;
  list-style-type: none;

  border: 1px solid white;
  border-radius: 8px;

}

.menu{
  text-align: center;
}

#about{
  width: 50%;
  padding-top: 78px;
  padding-bottom: 20px;
  margin:0 auto;
}

#my-info{
  padding-bottom: 10px;
}

li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0px;
}

li:hover{
  border: 1px solid #0072c2;
  background-color: #0072c2;
}

li:hover a{
  color: #ffaa1c;
}

.container{
  /*width: 65%;*/
  margin:0 auto;
  /*border: 1px solid #ccc;*/
}

.item{
  max-width: 30%;
  margin:0 auto;
  position: relative;
  /*display: inline-block;*/
}

.i-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  display: none;
}

div:not(#my-info)>h1{
  text-align: center;
}

h3{
  text-align: center;
}

img[alt="my avatar"]{
  border-radius: 50%;
  height: 200px;
}

.item img{
  width: 100%;
}

.item:hover img{
  opacity: .3;
  transition: .5s ease;
}

.item:hover .i-info{
  display: block;
  transition: .5s ease;
}

th, td{
  padding-right: 10px;
}

#personality{
  padding-top: 78px;
}

hr.bar{
  width: 20%;
  border: 3px solid #ffaa1c;
}

#contact{
  max-width: 70%;
  margin: 0 auto;
}

form.contact-form{
  width: 50%;
  margin: 0 auto; 
}

.form-row {
  margin-bottom: 15px;
}

.form-row-btn {
  margin: 0 auto;
  text-align: center;
}

.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row-btn button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
}

.form-row-btn button[type="submit"] {
  background-color: #5995DA;
  color: #FFFFFF;
  margin: 0 auto;
}

.form-row-btn button:hover {
  background-color: #76AEED;
}

.form-row-btn button:active {
  background-color: #407FC7;
}
